* {
    color: white;
}

.contato {
    background-color: var(--semi-escuro);
}

.contato-form {
    background-color: black;
    border: 0.5px solid rgba(255, 255, 255, 0.245);
    border-radius: 15px;
    margin: 0 10px;
    padding: 40px 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contato-form:hover {
    transform: scale(1.009);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8);
}

.form-label {
    color: var(--vermelho);
    font-weight: bold;
}

.form-control {
    background-color: var(--semi-escuro);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.form-control:focus {
    box-shadow: 0px 0px 8px var(--vermelho);
    border-color: var(--vermelho);
}

.mensagem {
    height: 100px;
}

.alerta {
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.botao {
    padding: 7px 15px;
}

@media (min-width: 768px) {
    .contato-form {
        margin: 0 80px;
    }
}

@media (min-width: 992px) {
    .contato-form {
        margin: 0 280px;
    }
}

@media (min-width: 1200px) {
    .contato-form {
        margin: 0 380px;
    }
}