<header class="cabecalho container-fluid">
    <div class="row d-md-flex align-items-center py-2">
        <div class="logo-container col-6 d-flex justify-content-start align-items-center">
            <img src="../../../assets/Logo-Simplificada-removebg-preview.png" alt="Logo" class="logo img img-fluid">
            <p class="nome-grafica ms-3 mt-4 d-none d-lg-block">Altitude Gráfica</p>
        </div>
        <div class="col-6 d-flex d-md-none justify-content-end px-3">
            <i class="fa-solid fa-bars" (click)="showNav()"></i>
        </div>
        <nav class="col-6 d-none d-md-flex justify-content-end align-items-center">
            <ul class="redirecionamento d-md-flex">
                <li class="sem-marcadores linha-space"><a href="#home" class="link-nav sem-sublinhado">Home</a></li>
                <li class="sem-marcadores linha-space"><a href="#sobre" class="link-nav sem-sublinhado">Sobre</a></li>
                <li class="sem-marcadores linha-space"><a href="#servicos" class="link-nav sem-sublinhado">Serviços</a></li>
                <li class="sem-marcadores linha-space"><a href="#contato" class="link-nav sem-sublinhado">Contato</a></li>
                <li class="sem-marcadores linha-space"><a href="#localizacao" class="link-nav sem-sublinhado">Localização</a></li>
            </ul>
        </nav>
        <nav *ngIf="navResponsivo" class="nav-responsivo text-center d-md-none">
            <ul class="redirecionamento-responsivo">
                <li class="sem-marcadores"><a href="#home" class="link-nav sem-sublinhado">Home</a></li>
                <li class="sem-marcadores"><a href="#sobre" class="link-nav sem-sublinhado">Sobre</a></li>
                <li class="sem-marcadores"><a href="#servicos" class="link-nav sem-sublinhado">Serviços</a></li>
                <li class="sem-marcadores"><a href="#contato" class="link-nav sem-sublinhado">Contato</a></li>
                <li class="sem-marcadores"><a href="#localizacao" class="link-nav sem-sublinhado">Localização</a></li>
            </ul>
        </nav>
    </div>
</header>