* {
    color: white;
}

.cabecalho {
    background-color: var(--semi-escuro);
}

.logo {
    width: 120px;
}

.nome-grafica {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.fa-bars {
    font-size: 3.5em;
    cursor: pointer;
    color: #333;
    transition: transform 0.3s ease;
}

.fa-bars:hover {
    transform: rotate(90deg);
}

.linha-space {
    padding: 0px 20px;
    margin-top: 20px;
}

.link-nav {
    transition: color 0.3s ease;
    font-size: 2em;
}

.link-nav:hover {
    color: var(--vermelho);
}

.redirecionamento-responsivo {
    padding: 10px 10px 5px 24px;
}

.redirecionamento-responsivo li {
    padding: 20px 0;    
}