* {
    color: white;
}

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('https://i.pinimg.com/736x/31/ae/54/31ae54f0dac0fdaa8a55fb7078285f53.jpg');
}

.logo {
    width: 120px;
    animation: animacaoImagem 2s infinite;
}

h1 {
    font-size: 1.8em;
    border-left: 3px solid var(--vermelho);
    padding-left: 10px;
}

h3 {
    color: var(--vermelho);
    border-left: 3px solid white;
    padding-left: 10px;
}

.subtitulo {
    font-size: 0.9em;
}

.apelo {
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 5px;
}

.botao {
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .logo {
        width: 150px;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    .apelo {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 200px;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    .apelo {
        font-size: 1.2em;
    }

    .botao {
        font-size: 1.5em;
        padding: 15px 30px;
    }
}

@keyframes animacaoImagem {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}