<section class="sobre py-5 px-4">
    <h1 class="titulo text-center">Sobre Nós</h1>
    <div class="conteudo-container row align-items-center">
        <div class="imagem-container col-12 col-md-5 d-flex justify-content-center align-items-center mb-4 mb-md-0">
            <img src="../../../assets/Logo-Simplificada-removebg-preview.png" alt="Logo" class="logo img-fluid">
        </div>
        <div class="texto-container col-12 col-md-7 px-5">
            <h3 class="subtitulo mb-3">Quem somos?</h3>
            <p class="texto">Somos uma gráfica especializada em produtos gráficos e comunicação visual, comprometidos em oferecer soluções criativas e de alta qualidade para o seu negócio. Desde a impressão de materiais promocionais até a criação de identidades visuais impactantes, nossa missão é ajudar empresas e clientes a se destacarem com materiais que comunicam de forma eficaz e estética.</p>
            <h3 class="subtitulo mb-3 mt-4">Valores e Visão</h3>
            <p class="texto">Acreditamos que a comunicação visual é uma poderosa ferramenta para conectar empresas e seus públicos. Com foco em inovação, qualidade e agilidade, buscamos sempre superar as expectativas de nossos clientes, proporcionando resultados que impulsionam o sucesso de seus negócios.</p>
            <h3 class="subtitulo mb-3 mt-4">Diferenciais</h3>
            <p class="texto">Com mais de 10 anos de experiência no mercado, nossa gráfica se destaca pela excelência na produção de materiais gráficos e soluções em comunicação visual. Oferecemos desde pequenos serviços personalizados até grandes projetos, sempre com qualidade, agilidade e atenção aos detalhes.</p>
        </div>
    </div>
</section>