* {
    color: white;
}

.sobre {
    background: var(--semi-escuro);
    border-top: 3px solid var(--vermelho);
    border-bottom: 3px solid var(--vermelho);
}

.conteudo-container {
    margin-top: 50px;
}

.logo {
    width: 400px;
    animation: animacaoImagem 2s infinite;
}

.texto-container {
    margin-top: 30px;
}

.texto {
    font-size: 1.2em;
    text-align: justify;
}

@media (min-width: 768px) {
    .conteudo-container {
        margin-top: 100px;
    }

    .logo {
        width: 650px;
    }

    .texto-container {
        margin-top: 0;
    }
}

@keyframes animacaoImagem {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}