* {
    color: white;
}

.sobre {
    background: var(--semi-escuro);
}

.logo {
    width: 400px;
}

.conteudo-container {
    margin-top: 100px;
}

.texto {
    font-size: 1.2em;
    text-align: justify;
}

@media (min-width: 768px) {
    .logo {
        width: 700px;
    }
}